<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="my">

    <input type="text" ng-model="name">
    <input type="text" ng-model="age">
    {{total()}}
</div>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app =angular.module('appModule',[]);
    app.controller('my',function ($scope) {
        $scope.total = function () {
            console.log(1);
        }
        /*$scope.name = 100;
        $scope.$watch('name',function () {
            $scope.age = Math.random();
        })
        $scope.$watch('age',function () {
            $scope.name = Math.random();
        })*/
    });



</script>
</body>
</html>